.news ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}

.news li {
	/*background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));*/
	/*border-bottom: 1px dotted rgba(0, 0, 0, 0.5);*/
	display: block;
	margin: 0;
	border-radius: 5px;
	padding: 0.5em;

	float: left;
	width: 100%;
}

.news li a {
	
}

.news ul > li:last-child {
	border-bottom: none;
}

.news li:hover {
	/*box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);*/
	background: rgb(<?php echo $rgbHover; ?>);
}

.news li:hover a {
	text-decoration: none;
	color: rgb(<?php echo $rgbTextHover; ?>);
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.news .image-container,
.news .post-container {
	float: left;
	width: 100%;
	text-align: left;
}

.news .image-container img {
	/*float: left;
	display: inline-block;
	margin-right: 0.5em;*/
	border-radius: 5px;
	margin: 0 auto;
}